services:
  # samba:
  #   extends:
  #     file: ./services/samba.yml
  #     service: samba
  #   profiles: ["serv"]
  #   user: "1001:3001"

  tailscale:
    extends:
      file: ./services/tailscale.yml
      service: tailscale
    profiles: ["serv", "pi"]

  unbound:
    extends:
      file: ./services/unbound.yml
      service: unbound
    profiles: ["serv", "pi", "dns"]
    networks:
      - homelab_network

  adguard:
    extends:
      file: ./services/adguard.yml
      service: adguard
    depends_on:
      unbound:
        condition: service_healthy
    profiles: ["serv", "dns"]
    networks:
      - homelab_network

  caddy:
    extends:
      file: ./services/caddy.yml
      service: caddy
    profiles: ["serv", "dns"]
    networks:
      - homelab_network

  homeassistant:
    extends:
      file: ./services/homeassistant.yml
      service: homeassistant
    profiles: ["serv", "iot"]

  mosquitto:
    extends:
      file: ./services/mosquitto.yml
      service: mosquitto
    profiles: ["serv", "iot"]

  matter-server:
    extends:
      file: ./services/matter.yml
      service: matter-server
    profiles: ["serv", "iot"]

  watchtower:
    extends:
      file: ./services/watchtower.yml
      service: watchtower
    profiles: ["serv", "pi"]

  # portainer:
  #   extends:
  #     file: ./services/portainer.yml
  #     service: portainer
  #   # profiles: ["serv"]
  #   networks:
  #     - homelab_network

# Shared network for service communication
networks:
  homelab_network:
    driver: bridge
    name: homelab_network

volumes:
  # Ephemeral volume for Caddy's config persistence
  caddy_config:
  mosquitto_data:
  mosquitto_logs:
